<a href="https://colab.research.google.com/github/Dahernandezsilve/HT1MD/blob/main/HT_1_An%C3%A1lisis_Exploratorio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Universidad del Valle de Guatemala
18 Avenida 11-95 Guatemala      
Departamento de Computación     
Facultad de Ingeniería       
Minería de Datos Sección 10         
Fecha de entrega: 29/01/2024        

Grupo 6 | Integrantes:
- Diego Alexander Hernández Silvestre 21270
- Linda Inés Jimenez Vides 21169
- Daniel Armando Valdez Reyes 21240

## Hoja  de trabajo 3
## Para realizar una exploración inicial del conjunto de datos, se prodeció a realizar un resumen de la información proporcionada en el dataset del archivo "*movies.csv*. A continuación se muestran los resultados:

In [23]:
import pandas as pd
from typing import *

In [11]:
dataframe: pd.DataFrame = pd.read_csv("train.csv",  encoding='ISO-8859-1')

dataframe.columns
# Se rellenan con 0 los na de PoolQC
dataframe['PoolQC'] = dataframe['PoolQC'].fillna(0)
# Se rellenan con 'None' los na 'MasVnrType'
dataframe['MasVnrType'] = dataframe['MasVnrType'].fillna('None')

dataframe['FireplaceQu'] = dataframe['MasVnrType'].fillna('NA')

dataframe['Fence'] = dataframe['Fence'].fillna('NA')

dataframe['MiscFeature'] = dataframe['MiscFeature'].fillna('NA')


dataframe['LotFrontage'] = dataframe['LotFrontage'].fillna(0)

dataframe['Alley'] = dataframe['Alley'].fillna('NA')


infoSumary = dataframe.info()

#Extraccion de las columnas a utilizar para las pruebas de clustering y regresion lineal
df = dataframe[["LotFrontage", "HouseStyle", "OverallQual","YearBuilt", "YearRemodAdd", "FullBath", "HalfBath", "TotRmsAbvGrd","GarageArea", "GarageCars", "PoolArea", "Fence", "MasVnrArea","SaleCondition", "SaleType", "SalePrice"]]
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1460 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          1460 non-null   object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1460 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    1460 non-null   object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         1460 non-null   object
 73  Fence          1460 non-null   object
 74  MiscFeature    1460 non-null   object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

,LotFrontage,HouseStyle,OverallQual,YearBuilt,YearRemodAdd,FullBath,HalfBath,TotRmsAbvGrd,GarageArea,GarageCars,PoolArea,Fence,MasVnrArea,SaleCondition,SaleType,SalePrice
0,65.0,2Story,7,2003,2003,2,1,8,548,2,0,NA,196.0,Normal,WD,208500
1,80.0,1Story,6,1976,1976,2,0,6,460,2,0,NA,0.0,Normal,WD,181500
2,68.0,2Story,7,2001,2002,2,1,6,608,2,0,NA,162.0,Normal,WD,223500
3,60.0,2Story,7,1915,1970,1,0,7,642,3,0,NA,0.0,Abnorml,WD,140000
4,84.0,2Story,8,2000,2000,2,1,9,836,3,0,NA,350.0,Normal,WD,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,62.0,2Story,6,1999,2000,2,1,7,460,2,0,NA,0.0,Normal,WD,175000
1456,85.0,1Story,6,1978,1988,2,0,7,500,2,0,MnPrv,119.0,Normal,WD,210000
1457,66.0,2Story,7,1941,2006,2,0,9,252,1,0,GdPrv,0.0,Normal,WD,266500
1458,68.0,1Story,5,1950,1996,1,0,5,240,1,0,NA,0.0,Normal,WD,142125
1459,75.0,1Story,5,1965,1965,1,1,6,276,1,0,NA,0.0,Normal,WD,147500

In [84]:

# Extrae la información relevante del resumen
info_data = {'Columna': [], 'Non-Null Count': [], 'Dtype': []}

for col in dataframe.columns:
    info_data['Columna'].append(col)
    info_data['Non-Null Count'].append(dataframe[col].count())
    info_data['Dtype'].append(dataframe[col].dtype)

# Crea un nuevo DataFrame a partir de la información extraída
info_df = pd.DataFrame(info_data)

info_df[info_df['Non-Null Count']<1410]

         Columna  Non-Null Count    Dtype
58    GarageType            1379   object
59   GarageYrBlt            1379  float64
60  GarageFinish            1379   object
63    GarageQual            1379   object
64    GarageCond            1379   object

In [33]:
dataframe['SalePrice'] =dataframe['SalePrice'].dropna()
dataframe['SalePrice']

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

# Ejercicio 4
## Responda las siguientes preguntas:

1. ¿Cuáles son las 10 películas que contaron con más presupuesto?

In [ ]:
dataframe.columns

Index(['budget', 'genres', 'homePage', 'productionCompany',
       'productionCompanyCountry', 'productionCountry', 'revenue', 'runtime',
       'video', 'director', 'actors', 'actorsPopularity', 'actorsCharacter',
       'originalTitle', 'title', 'originalLanguage', 'popularity',
       'releaseDate', 'voteAvg', 'voteCount', 'genresAmount',
       'productionCoAmount', 'productionCountriesAmount', 'actorsAmount',
       'castWomenAmount', 'castMenAmount'],
      dtype='object')

Al identificar el índice de la película con más votos se encontró que la misma es "The Shawshank Redemption". A continuación se muestra una descripción general de las propiedades de la película.

In [ ]:
#Inciso 4.3.
indexMaxVotes = dataframe['voteCount'].idxmax()
movieMaxVotes = dataframe.loc[indexMaxVotes]
print(movieMaxVotes)

NameError: name 'dataframe' is not defined