<a href="https://colab.research.google.com/github/Dahernandezsilve/HT1MD/blob/main/HT_1_An%C3%A1lisis_Exploratorio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Universidad del Valle de Guatemala
18 Avenida 11-95 Guatemala      
Departamento de Computación     
Facultad de Ingeniería       
Minería de Datos Sección 10         
Fecha de entrega: 29/01/2024        

Grupo 6 | Integrantes:
- Diego Alexander Hernández Silvestre 21270
- Linda Inés Jimenez Vides 21169
- Daniel Armando Valdez Reyes 21240

## Hoja  de trabajo 3
## Para realizar una exploración inicial del conjunto de datos, se prodeció a realizar un resumen de la información proporcionada en el dataset del archivo "*movies.csv*. A continuación se muestran los resultados:

In [21]:
import pandas as pd
from typing import *

dataframe: pd.DataFrame = pd.read_csv("movies.csv",  encoding='ISO-8859-1')
df = dataframe.drop('id', axis=1)
df['castWomenAmount'] = pd.to_numeric(df['castWomenAmount'], errors='coerce')
df['castMenAmount'] = pd.to_numeric(df['castMenAmount'], errors='coerce')

df.describe()
f = df[df['castMenAmount']>1000]
f

,budget,genres,homePage,productionCompany,productionCompanyCountry,productionCountry,revenue,runtime,video,director,...,popularity,releaseDate,voteAvg,voteCount,genresAmount,productionCoAmount,productionCountriesAmount,actorsAmount,castWomenAmount,castMenAmount
958,0,Action|Adventure,NaN,NaN,NaN,Germany,0.0,90,False,Winfried Oelsner,...,18.062,2005-08-28,4.6,6,2,1,15,4,10.0,3717.0
1109,0,Action,http://web.archive.org/web/20080210100832/http...,NaN,NaN,Japan,0.0,108,False,Shusuke Kaneko,...,13.989,2005-03-12,6.5,129,1,1,15,5,10.0,5890.0
1710,10000000,Family|Comedy,NaN,NaN,NaN,United States of America,10143022.0,89,False,Joe Nussbaum,...,13.183,2004-07-09,5.9,388,2,1,31,13,15.0,9893.0
1779,0,Action,NaN,NaN,NaN,United Kingdom|United States of America|Romania,0.0,94,False,Michael Keusch,...,7.649,2006-12-05,4.0,63,1,3,20,2,14.0,10049.0
1860,0,Action|Adventure|Comedy|Science Fiction,NaN,NaN,NaN,Hong Kong,0.0,106,False,Corey Yuen|Patrick Leung Pak-Kin,...,12.931,2004-08-12,4.8,62,4,1,12,4,8.0,10257.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9986,0,Documentary,NaN,Zeppelin,NaN,NaN,0.0,89,NaN,Sebastián Alfie,...,99.425,2021-11-25,6.0,2,1,1,0,0,0.0,900887.0
9987,0,Romance|Comedy,NaN,NaN,NaN,Mexico,0.0,0,NaN,Jaime Segura,...,136.491,2021-09-01,8.0,54,2,1,8,2,3.0,901407.0
9989,0,Family|Drama,NaN,Mandarina Cine,NaN,NaN,0.0,0,False,Álvaro Curiel,...,134.269,2021-12-16,7.6,34,2,1,5,2,1.0,911071.0
9990,60,Comedy|Action|Adventure|Science Fiction,NaN,Jepchu Producciones,NaN,NaN,0.0,0,True,Miguel Angel Zavala,...,43.452,2014-01-03,10.0,1,4,1,12,0,8.0,912223.0
9997,0,Comedy,NaN,NaN,NaN,Nigeria,0.0,112,False,Niyi Akinmolayan,...,565.658,2021-12-17,6.1,30,1,1,17,1,0.0,922017.0

# Ejercicio 4
## Responda las siguientes preguntas:

1. ¿Cuáles son las 10 películas que contaron con más presupuesto?

In [11]:
dataframe.columns

Index(['budget', 'genres', 'homePage', 'productionCompany',
       'productionCompanyCountry', 'productionCountry', 'revenue', 'runtime',
       'video', 'director', 'actors', 'actorsPopularity', 'actorsCharacter',
       'originalTitle', 'title', 'originalLanguage', 'popularity',
       'releaseDate', 'voteAvg', 'voteCount', 'genresAmount',
       'productionCoAmount', 'productionCountriesAmount', 'actorsAmount',
       'castWomenAmount', 'castMenAmount'],
      dtype='object')

Al identificar el índice de la película con más votos se encontró que la misma es "The Shawshank Redemption". A continuación se muestra una descripción general de las propiedades de la película.

In [1]:
#Inciso 4.3.
indexMaxVotes = dataframe['voteCount'].idxmax()
movieMaxVotes = dataframe.loc[indexMaxVotes]
print(movieMaxVotes)

NameError: name 'dataframe' is not defined